//- script.
//-     google_ad_client = "ca-pub-1334887216588590";
//-     google_ad_slot = "2705175931";
//-     google_ad_width = 728;
//-     google_ad_height = 90;
//- script(src="//pagead2.googlesyndication.com/pagead/show_ads.js")