script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
<!-- giraffe-watch-leaderboard -->
ins(class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-1334887216588590"
     data-ad-slot="2705175931")
script.
  (adsbygoogle = window.adsbygoogle || []).push({});