p Want to say thanks? 
  a(href='https://giraffeconservation.org/donate/' title='Donate to the Giraffe Conservation Fund')#donate-link Donate to the Giraffe Conservation Fund Today!
script.
  document.getElementById('donate-link').onclick = function() {
    ga('send', 'event', 'Donate GCF', 'Click', location.href);
  }