p Make sure you share with your friends!
button.btn.btn-primary#btn-fb-share Share on Facebook
script.
  document.getElementById('btn-fb-share').onclick = function() {
    FB.ui({
      method: 'share',
      display: 'popup',
      href: 'http://giraffe-watch.thomasphorton.com'
    }, function(response){});
  }