p Make sure you share with your friends!
a(href='javascript:void()').btn.btn-primary#btn-fb-share Share on Facebook
script.
  document.getElementById('btn-fb-share').onclick = function() {
    ga('send', 'event', 'Facebook Share', 'Click', location.href);
    FB.ui({
      method: 'share',
      display: 'popup',
      href: 'http://giraffe-watch.thomasphorton.com'
    }, function(response){});
  }