footer.footer
  .container
    ul.footer-links
      li
        a(href='/privacy') Privacy Policy
      li
        a(href='/unsubscribe') Unsubscribe
    p &copy; 2017 <a href='https://instagram.com/thomasphorton'>Tom Horton</a> & Lindsey Baumann

script(id="dsq-count-scr" src="//giraffe-watch.disqus.com/count.js" async)