header.navbar.navbar-light.navbar-toggleable-md
  nav.container
    .d-flex.justify-content-between.hidden-lg-up
      a.navbar-brand(href='/' title='April the Giraffe Status') Giraffe Watch!
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#main-nav')
        span.navbar-toggler-icon
    .navbar-collapse.collapse#main-nav
      ul.nav.navbar-nav
        li.nav-item
          a.nav-item.nav-link(href='/') Sign Up
        li.nav-item
          a.nav-item.nav-link(href='/watch' title='Watch April the Giraffe') Watch
        li.nav-item
          a.nav-item.nav-link(href='/comments' title='April the Giraffe Discussion') Comments
        li.nav-item
          a.nav-item.nav-link(href='/updates' title='Updates about April the Giraffe') Updates