.card.shirt
  .card-header Featured
  .card-block
    h4 New Shirts available for Pre-Order!
    a(href='http://mystz.com/product/april/')#shirt-img
      img(src='/assets/shirt.png').img-shirt
    a(href='http://mystz.com/product/april/').btn.btn-success.btn-lg#shirt-link Pre-Order Now on MySTZ.com!

script.
  document.getElementById('shirt-img').onclick = function() {
    ga('send', 'event', 'Shirt', 'Image Click', location.href);
  }

script.
  document.getElementById('shirt-link').onclick = function() {
    ga('send', 'event', 'Shirt', 'Link Click', location.href);
  }