html
  include partials/head.pug
  body
    include partials/nav.pug
    .container
      .row
        .col-md-8
          h1 Giraffe Facts

          include partials/ad.pug
          include partials/alert.pug

          h2 Giraffe Birth Facts

          ul
            li Giraffe gestation periods are up to 15 months.
            li When born, a giraffe calf is approximately 6ft tall and weighs 150lbs.
            li During birth, the front hooves will be visible first.
            li Giraffes give birth standing up.
            li Calves are able to walk within 10 minutes of being born.
            li Giraffes are one of the only mammals to lay eggs (just kidding).

          h2 Want to know more?
          p Visit the official <a href='http://theanimaladventurepark.com/'>Animal Adventure Park Website</a> for more information about these awesome animals.

          include partials/donate.pug
          include partials/facebook.pug

        .col-md-4
          include partials/twitter.pug

    include partials/footer.pug