html
  include partials/head.pug
  body
    include partials/nav.pug
    .container
      .row
        .col-md-12
          h1 Giraffe Watch

          include partials/alert.pug

          h2 Health Check!

          include partials/donate.pug
          include partials/facebook.pug

      row
        .col-md-12
          include partials/ad.pug

    include partials/footer.pug