html
  include partials/head.pug
  body
    include partials/nav.pug
    .container
      .row
        .col-md-8
          h1 Giraffe Watch

          include partials/ad.pug
          include partials/alert.pug

          h2 Sign up for a Giraffe Birth Alert!
          //- p Enter your phone number below to be alerted by text message if anything important happens. We promise not to spam you, this is just to help you all get back to work!

          //- form(method='post' action='/submit')
          //-   .form-group
          //-     input(type='number' placeholder='Enter Your Phone Number' name='phoneNumber' required).form-control
          //-   .form-group
          //-     sub <sup>*</sup>If you're in the US, the number must include the 1 before the area code- (ie 13336668888). Not sure about other countries.
          //-   .form-group
          //-     button(type='submit').btn.btn-primary.btn-lg Submit

          p Unfortunately, we're closing down subscriptions for right now. We've hit a limit with the number of text messages that we can publish at one time. Once we get that resolved, we'll open it back up.

          p Or, this giraffe can just have her baby!

          h2 What is this?
          p April the Giraffe is pregnant and is expecting any day now. People are <strong>obsessed</strong>. I built this tool to subscribe people to an SMS notification when something worth watching happens.

          include partials/donate.pug
          include partials/facebook.pug

        .col-md-4
          include partials/twitter.pug
          include partials/amazon-ad.pug

    include partials/footer.pug