html
  include partials/head.pug
  body
    include partials/nav.pug
    .container
      .row
        .col-md-8
          h1 Giraffe Watch

          include partials/ad.pug
          include partials/alert.pug

          h2 What is this?
          p April the Giraffe is pregnant and is expecting any day now. People are <strong>obsessed</strong>. I built this tool to subscribe people to a notification when something worth watching happens.

          include partials/donate.pug
          include partials/facebook.pug

        .col-md-4
          include partials/twitter.pug
          include partials/amazon-ad.pug

    include partials/footer.pug