html
  include partials/head.pug
  body
    include partials/nav.pug
    .container
      h1 Privacy Policy

      h2 Information Collection and Use
      p We collect and use your information below to provide our Services and to measure and improve our Services from time to time.

      p Google Analytics: We will also install Google Analytics in the apps, devices, or mobile apps to collect your behaviors in using our Services. We will also recommend some other services that may be suitable or appeal to you based on our analysis.

      p Your information will not be shared with 3rd parties, nor will it be used for anything other than to notify you of things pertaining to this <strong>exact giraffe-related event</strong>.

    include partials/footer.pug