html
  include partials/head.pug
  body
    include partials/nav.pug
    .container
      h1 Privacy Policy

      h2 Information Collection and Use

      p I've got Google Analytics running because I'm interested in seeing how this spreads. It's cool seeing people from across the country (and world) show interest in this event.

      p I've got AdSense running because it would be cool to make a few pennies for the work I put into setting this up, along with staying up all night to watch this thing. I can't believe I signed up for this.

      p Your information will not be shared with 3rd parties, nor will it be used for anything other than to notify you of things pertaining to this <strong>exact giraffe-related event</strong>.

    include partials/footer.pug