html
  include partials/head.pug
  body
    include partials/nav.pug
    .container
      h1 Giraffe Watch

      include partials/ad.pug

      if alert
        .alert(role='alert' class='alert-' + alert.type)= alert.message

      h2 Congratulations!
      p You've subscribed the phone number <strong>#{phoneNumber}</strong> to Giraffe Watch. Now get back to your day!

      p Want to say thanks? Click an ad on the site!

      include partials/ad.pug

    include partials/footer.pug