html
  include partials/head.pug
  body
    include partials/nav.pug
    .container
      .row
        .col-md-8
          h1 Giraffe Watch

          include partials/ad.pug
          include partials/alert.pug

          h2 You did it!
          p You've subscribed the email address <strong>#{email}</strong> to Giraffe Watch. Now get back to your day!

          include partials/donate.pug
          include partials/facebook.pug

        .col-md-4
          include partials/amazon-ad.pug

    include partials/footer.pug

    