html
  include partials/head.pug
  body
    include partials/nav.pug
    .container
      .col
        h1 Giraffe Watch

        include partials/ad.pug
        include partials/alert.pug

        h2 You did it!
        p You've subscribed the phone number <strong>#{phoneNumber}</strong> to Giraffe Watch. Now get back to your day!

        include partials/donate.pug

        p Make sure you share with your friends!

    include partials/footer.pug