html
  include partials/head.pug
  body
    include partials/nav.pug
    .container
      .row
        .col-md-8
          h1 Giraffe Watch

          include partials/alert.pug

          h2 You did it!
          p You've subscribed the email address <strong>#{email}</strong> to Giraffe Watch. <strong>Check your email for a confirmation and click the link to make sure you've completed your subscription.</strong>

          include partials/shirt.pug

          include partials/donate.pug
          include partials/facebook.pug

        .col-md-4
          include partials/amazon-ad.pug

    include partials/footer.pug

    