html
  include partials/head.pug
  body
    include partials/nav.pug
    .container
      .row
        .col-md-8
          h1 Service Updates

          include partials/alert.pug

          include partials/shirt.pug

          h2 Opened Subscription Slots
          h6 2/28/17 23:27
          p We've opened up an additional 10k subscription slots. Issues subscribing should be mitigated. Please leave a comment if you're experiencing issues creating a new subscription. Thanks!

          h2 Notification Tests
          h6 2/28/17 8:19
          p Just sent out a test notification to the list. With over 12k subscribers, we're going to be putting our systems to the test! Click the button below to let us know that you got it.

          a(href='javascript:void()').btn.btn-primary.btn-lg.btn-block#notification-test Push it, Push it Good!

          p#notification-result Got it! Thank you! <a href='/watch'>Click here to view the live stream</a>

          script.
            document.getElementById('notification-test').onclick = function() {
              document.getElementById('notification-result').style.display = 'block';
              ga('send', 'event', 'Notification Test', 'Click', location.href);
            }

          h2 Subscription Issues
          h6 2/27/17 23:42
          p We've hit another bottleneck- we're creating new subscriptions too fast. I'm researching a fix, in the meantime you should be able to get in eventually if you keep retrying.

          h2 Please Resubscribe!
          h6 2/26/17 11:00
          p Due to limits with the text message service, text updates are no longer guaranteed! Please <a href="/">resubscribe</a> using your email address!

          h2 Move to Crowd Sourcing
          h6 2/26/17 09:30

          p The baby still hasn't been born. I know, right? Trust me- I'm bummed out too. So I've got a request for you all. I'm getting tired. I need to go to work tomorrow. I can't keep this going for much longer.

          p
            b So we're crowd sourcing!

          p I've added a button on the <a href='/watch'>Giraffe Watch Stream</a> that you can click if you see something important happen. That message will get sent over to me, and if I see enough activity I'll verify it myself and start letting everyone know.

          p Alternatively, if you're really excited about it, <a href='mailto:thomasphorton+giraffe-watch@gmail.com?subject=Giraffe Activity'>shoot me an email</a> and I'll respond quickly.

          h4 While You're Waiting
          ul
            li Watch <a href='/watch'>the giraffe stream</a> and click the button to report important activity.
            li Drop a line on the <a href='/comments'>comments page</a>.
            li Make a donation to the <a href='https://www.gofundme.com/ApriltheGiraffe'>Official April the Giraffe GoFundMe</a> (You can verify that this is legit by looking at the description in the <a href='https://www.youtube.com/watch?v=ZuYR4cTNbB0&feature=youtu.be'>official YouTube stream</a>).

          img(src='assets/giraffe-watch.jpg').max-width

          include partials/donate.pug
          include partials/facebook.pug

        .col-md-4
          include partials/twitter.pug
          include partials/amazon-ad.pug

    include partials/footer.pug