html
  include partials/head.pug
  body
    include partials/nav.pug
    .container
      .row
        .col-md-12
          h1 Giraffe Watch

          include partials/alert.pug

          h2 April the Giraffe Live Birth Cam

          iframe(src='https://www.youtube.com/embed/sGEEGDIHDRc' frameborder='0' allowfullscreen).max-width.iframe-youtube

          h2 Click below to report active labor

          include partials/active-labor-button.pug

          h3 What is #GiraffeWatch?

          p The Animal Adventure Park giraffe April is expecting! People have been watching for days now, but the 'active labor' hasn't started yet.

          p Click the big blue button above to help report April's active labor.

          include partials/donate.pug
          include partials/facebook.pug

    include partials/footer.pug

