html
  include partials/head.pug
  body
    include partials/nav.pug
    .container
      .row
        .col-md-8
          h1 Giraffe Watch

          include partials/alert.pug

          h2 Animal Adventure Park Giraffe Cam
        
          include partials/shirt.pug

          iframe(src='https://www.youtube.com/embed/ZuYR4cTNbB0' frameborder='0' allowfullscreen).max-width.iframe-youtube

          a(href='javascript:void()').btn.btn-primary.btn-lg.btn-block#giraffe-event Labor Alert!

          p#giraffe-event-result Thanks for the heads up! We'll check it out shortly.

          p The Animal Adventure Park giraffe April is expecting! People have been watching for days now, but the 'active labor' hasn't started yet.

          p Click the 'Labor Alert!' button to help report April's active labor.

          include partials/donate.pug
          include partials/facebook.pug

        .col-md-4
          include partials/twitter.pug
          include partials/amazon-ad.pug

    include partials/footer.pug

    script.
      document.getElementById('giraffe-event').onclick = function() {
        document.getElementById('giraffe-event-result').style.display = 'block';
        ga('send', 'event', 'Giraffe Cam', 'Click', location.href);
      }