header {
  border-bottom: 1px solid #EEE;
  margin-bottom: 0.5em;
}

ins {
  max-width: 100%;
}

sub {
  line-height: 1.4em;
}

.max-width {
  max-width: 100%;
}

.footer {
  margin-top: 2em;
  padding: 4em 0;
  background-color: #f7f7f7;
  color: #636c72;
  font-size: 0.9em;
}

.footer a {
  font-weight: 500;
  color: #464a4c;
}

.footer-links {
  padding-left: 0;
}

.footer-links li {
  display: inline-block;
  margin-right: 0.5em;
}

.img-shirt {
  max-width: 300px;
  margin-bottom: 1em;
  display: block;
}

.form-subscribe {
  margin-top: 1em;
}

.shirt {
  margin-top: 1em;
  margin-bottom: 1em;
}

#giraffe-event {
  margin-botom: 1em;
}

#btn-fb-share,
#notification-test {
  margin-bottom: 1em;
}

#notification-result {
  display: none;
}

.iframe-youtube {
  width: 100%;
  height: 410px;
  margin-bottom: 1em;
}