header {
  border-bottom: 1px solid #EEE;
  margin-bottom: 0.5em;
}

ins {
  max-width: 100%;
}

sub {
  line-height: 1.4em;
}

.youtube {
  max-width: 100%;
}

.footer {
  margin-top: 2em;
  padding: 4em 0;
  background-color: #f7f7f7;
  color: #636c72;
  font-size: 0.9em;
}

.footer a {
  font-weight: 500;
  color: #464a4c;
}

.footer-links {
  padding-left: 0;
}

.footer-links li {
  display: inline-block;
  margin-right: 0.5em;
}